services:
  catalog.api:
    image: ${DOCKER_REGISTRY-}catalogapi
    build:
      context: .
      dockerfile: Services/Catalog/Catalog.API/Dockerfile
      
  catalog.db:
    image: mongo
    
  basket.db:
    image: redis:alpine
    
  basket.api:
    image: ${DOCKER_REGISTRY-}basketapi
    build:
      context: .
      dockerfile: Services/Basket/Basket.API/Dockerfile
      
  portainer:
    image: portainer/portainer-ce
  pgadmin:
    image: dpage/pgadmin4
    
    
  discount.api:
    image: ${DOCKER_REGISTRY-}discountapi
    build:
      context: .
      dockerfile: Services/Discount/Discount.Api/Dockerfile

  discount.db:
    image: postgres:alpine

volumes:
  mongo_data:
  portainer_data:  
  postgres_data:
  pgadmin_data:

